@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities/embed';
@import '~bootstrap/scss/utilities/position';
@import '~bootstrap/scss/utilities/sizing';
@import '~bootstrap/scss/utilities/float';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/images';

nav {
  font-family: 'Roboto Condensed', sans-serif;
}

h2{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 25px;
  line-height: 54px;
}
h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}
.readmore {
  font-family: 'Roboto', sans-serif;
  text-align: right;
  text-decoration: underline;
  display: block;
}
.recipes {
  p {
    text-align: left;
    margin-bottom: 0;
  }
  .d-flex > div {
    flex-basis: 50%;
  }
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  max-width: 100%;
  overflow-x: hidden;
}
section {
  min-height: 100vh;
}