nav .navbar-collapse .navbar-nav .nav-link {
    color: #543E5C;
    font-size: 20px;
    text-decoration: none;
    &:hover, &.active {
        color: #543E5C;
        text-decoration: underline;
    }
}
nav.navbar {
   padding-left: 0;
   padding-right: 0; 
}

.back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    font-size: 40px;
    color: #fff;
  }